.el-container {
    position: relative;
    height: 500px;
    background-color: #fff;
    color: white;
}

.el-aside {
    position: fixed;
    width: 200px;
    margin: 6% auto;
    overflow-y: hidden;
}

.el-main {
    position: absolute;
    max-width: 60%;
    min-width: 60%;
    top: 65px;
    margin: 0 20% 0 20%;
    direction: ltr;
}

.catalog {
    text-align: left;
    color: black;
}

.content {
    height: 100%;
}

.backtop {
    height: 100%;
}

.markdown-body {
    margin-left: 10px;
}

.my_menu {
    overflow: scroll;
    text-align: left;
    height: 700px;
}

.my_catalog {
    overflow: scroll;
    height: 100%;
    right: 0;
}

.my_backtop {
    background-color: #f2f5f6;
    box-shadow: 0 0 6px rgba(0, 0, 0, .20);
    text-align: center;
}

/**修改全局的滚动条*/
/**滚动条的宽度*/
::-webkit-scrollbar {
    width: 8px;

}

/*//滚动条的滑块*/
::-webkit-scrollbar-thumb {
    background-color: #eaecf1;
    border-radius: 3px;
}

.el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow{
    display: none;

}

.el-submenu>.el-submenu__title .el-submenu__icon-arrow{
    display: none;

}