.container {
    display: flex;
    width: 500px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    /*flex-direction: column;*/
}
.subcontainer {
    display: flex;
    width: 300px;
    /*flex-direction: row;*/
    justify-content: space-around;
}

el-button {
    margin: 20px;
}